@keyframes progress-bar-stripes {
  from { background-position: $progress-height 0; }
  to { background-position: 0 0; }
}

ProgressBar {
  display: flex;
  overflow: hidden; // force rounded corners by cropping it
  font-size: $progress-font-size;
  line-height: $progress-height;
  text-align: center;
  background-color: $progress-bg;
  @include border-radius($progress-border-radius);
  @include box-shadow($progress-box-shadow);
}

ProgressBarMeter {
  display: block;
  height: $progress-height;
  line-height: $progress-height;
  color: $progress-bar-color;
  background-color: $progress-bar-bg;
  @include transition($progress-bar-transition);

  // to replace the .bg-{color} helper classes
  // @each $color, $value in $theme-colors {
  //   @include bg-variant('.bg-#{$color}', $value);
  // }

  // to emulate .w-75 in this context
  &[value="75"] {
    width: 75%;
  }
}

@each $color, $value in $theme-colors {
  ProgressBarMeter[color="#{$color}"] {
    background-color: $value !important;
  }
}

ProgressBarMeter[striped] {
  @include gradient-striped();
  background-size: $progress-height $progress-height;
}

ProgressBarMeter[animated] {
  animation: progress-bar-stripes $progress-bar-animation-timing;
}
